@media only screen and (max-width: 600px) and (min-width: 365px) {
  .simple-text {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920));
  }

  .nav_menu_HIP,
  .nav_menu_signin,
  .nav_menu_item {
    display: none;
  }
  .nav {
    flex-direction: row;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 15px;
  }
  nav {
    padding: 0px 15px;
  }
  .banner {
    padding: 135px 0;
    background-position: left 40% bottom 30%;
  }
  .banner_content {
    padding: 0px 15px;
  }
  .banner_content_head > h1 {
    font-size: calc(28px + 54.4 * ((100vw - 320px) / 1920));
  }
  .banner_content_head > h2 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1920));
  }

  .banner_content_search {
    width: 100%;
    height: 100%;
  }
  .banner_content_inputbox {
    padding: 1px 2px 1px 20px;
    background: none;
    width: 224px;
  }

  .content_search_but {
    height: 49px;
    width: 114px;
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920));
  }

  .banner_content_links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
  }
  .popular_search {
    margin-left: 20px;
  }

  .list_rent_item {
    margin-left: 0px !important;
  }

  .second_banner_head h1 {
    line-height: unset;
    font-size: calc(30px + 51 * ((100vw - 320px) / 1920));
  }

  .second_banner_head span:before {
    top: 5%;
    left: 25%;
  }

  .second_banner_head span:after {
    top: 5%;
    left: 69%;
  }

  .cont_padding {
    padding: 60px 0px;
  }
  .second_banner_blk_cont ul {
    direction: unset;
    flex-direction: column;
    row-gap: 25px;
  }

  .shadow_gre {
    top: 300px;
    left: 39px;
  }

  .shadow_blu {
    top: 550px;
    left: 39px;
  }

  .arrow::after,
  .arrow1::after {
    display: none;
  }

  .third_banner_title h1 {
    font-size: calc(30px + 51 * ((100vw - 320px) / 1920));
  }
  .fourth_banner_content {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    text-align: center;
  }

  .large_cont_width {
    width: 100%;
  }
  .fifth_banner {
    flex-direction: column-reverse;
  }

  .fifth_banner_img img {
    max-width: 100%;
  }

  .content_features_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }
  .fifth_banner_content_main_head {
    font-size: calc(24px + 30.6 * ((100vw - 320px) / 1920));
    text-align: center;
    line-height: unset;
  }
  .content_features_list h2 {
    font-size: calc(20px + 6.8 * ((100vw - 320px) / 1920));
    margin-bottom: 10px;
  }
  .content_features_list_content {
    text-align: center;
  }

  .sixth_banner {
    padding: 0px;
    width: 100%;
  }

  .mob_pic {
    display: none;
  }
  .sixth_banner_cont {
    max-width: 100%;
    padding: 70px 0px;
  }

  .download_store_img {
    flex-direction: column;
  }
  .sixth_banner_content {
    left: 0px;
    text-align: center;
  }

  .sixth_banner_content h1 {
    font-size: calc(24px + 61.2 * ((100vw - 320px) / 1920));
    line-height: unset;
  }

  .sixth_banner_content p {
    font-size: calc(14px + 17 * ((100vw - 320px) / 1920));
    line-height: unset;
  }

  .download_store_img {
    align-items: center;
    row-gap: 20px;
  }

  .swiper-wrapper_2 {
    flex-direction: column;
    width: unset !important;
    row-gap: 10px;
  }
  .swiper-pagination_2 {
    display: none;
  }

  .swiper-slide_2 {
    margin-left: auto;
    margin-right: auto;
  }

  .as_seen_head h1 {
    font-size: 1.5rem
  }

  .as_seen_cont {
    width: 100%;
    padding: 0px;
  }

  .as_seen_img {
    display: grid;
    grid-template-columns: auto auto;
  }
  .brand_icon {
    width: unset;
  }

  .footer_top_cont {
    grid-template-columns: auto;
    row-gap: 30px;
    padding: 0px;
    justify-content: center;
    width: 100%;
  }
  .footer_top_2 {
    display: none;
  }
  .footer_top_3 {
    padding-left: 0px;
  }
  .footer_top_3_img {
    flex-direction: column;
    align-items: center;
  }
  .footer_wrapper_top {
    padding: 40px 0px;
  }
  footer {
    width: 100%;
  }
  .third_banner_title span:after {
    left: 69%;
  }

  .third_banner_title span:before {
    left: 24.5%;
  }
}
